<?xml version="1.0"?>
<configuration>
	
	<system.web>	
		<authorization>
			<allow roles="Administrator,Editor"/>
			<deny users="*"/>
		</authorization>
	</system.web>
	
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".json" mimeType="application/json"/>
		</staticContent>
		<handlers>
			<remove name="SimpleHandlerFactory-ISAPI-2.0"/>
			<add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0"/>
		</handlers>
	</system.webServer>
	
</configuration>