<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="nhibernate" isWeb="true" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration">
			<factory id="nhibernate.factory">
				<settings>
					<item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
					<item key="connection.driver_class">#{nhibernateDriver}</item>
					<item key="dialect">#{nhibernateDialect}</item>
					<item key="connection.connection_string">#{connectionString}</item>
					<item key="cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache</item>
					<item key="cache.use_query_cache">true</item>
					<item key="relativeExpiration">30</item>
				</settings>
				<assemblies>
					<assembly>Cuyahoga.Core</assembly>
				</assemblies>
			</factory>
		</facility>
		<facility type="Castle.Facilities.AutoTx.AutoTxFacility, Castle.Facilities.AutoTx" 
			id="autotransaction" />
	</facilities>
</configuration>
